<a href="https://colab.research.google.com/github/gmdeorozco/Scikit-Learn-Library/blob/main/LabelEncoder2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Label Encoder2

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
le = LabelEncoder()

In [4]:
data = [[1200, 'm'],[1300,'f'],[300,'f'],[2000,'m']]
df= pd.DataFrame(data)
df.columns=['amount','sex']

In [5]:
df.head(
    
)

   amount sex
0    1200   m
1    1300   f
2     300   f
3    2000   m

In [6]:
df.sex = le.fit_transform(df.sex)

In [7]:
df.head()

   amount  sex
0    1200    1
1    1300    0
2     300    0
3    2000    1