<a href="https://colab.research.google.com/github/gmdeorozco/Scikit-Learn-Library/blob/main/LabelEncoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data = [[1500.00, 'satisfied'],[200,'unsatisfied'],[1000,'neutral']]
df = pd.DataFrame(data)

In [2]:
df.head()

        0            1
0  1500.0    satisfied
1   200.0  unsatisfied
2  1000.0      neutral

In [22]:
df.columns =['amount','satisfaction']

In [23]:
df.head()

   amount satisfaction
0  1500.0    satisfied
1   200.0  unsatisfied
2  1000.0      neutral

In [24]:
df.head()

   amount satisfaction
0  1500.0    satisfied
1   200.0  unsatisfied
2  1000.0      neutral

In [25]:
df.loc[:,'satisfaction']

0      satisfied
1    unsatisfied
2        neutral
Name: satisfaction, dtype: object

In [26]:
df.satisfaction

0      satisfied
1    unsatisfied
2        neutral
Name: satisfaction, dtype: object

In [27]:
df.satisfaction = le.fit_transform(df.satisfaction)

In [28]:
df.head()

   amount  satisfaction
0  1500.0             1
1   200.0             2
2  1000.0             0

In [29]:
le.inverse_transform(df.satisfaction)

array(['satisfied', 'unsatisfied', 'neutral'], dtype=object)